body {
    margin: 0;
    background-color: #f1f1f1;

}
.header {
    width: 100%;
    height: 100px;
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}
.background
{
    overflow: hidden;
    position: absolute;
    top:10px;
    left: 0px;
    width: 100%;
    height: 80px;
    background-color: #f1f1f1;
    opacity: 0.8;
}
.topnav {
    border: 1px solid #fafafa;
    overflow: hidden;
    background-color: #333;
    height: 30px;
}
/* 导航链接 */
.topnav a {
    margin-right: 130px;
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    padding-top: 5px;
    padding-right: 52px;
    padding-left: 52px;
    padding-bottom: 0;
}
/* 链接 - 修改颜色 */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav div {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    padding-top: 3px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 0;
}


.column {
    margin-right: 100px;
    margin-left: 100px;
    float: left;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    background-color: #f1f1f1;
    margin-top: 20px;
    margin-right: 100px;
    margin-left: 100px;
    float: left;
}

#customers
{
    overflow: hidden;
    margin-top: 20px;
    table-layout: fixed;
    word-break: break-all;
    word-wrap: break-word;
    font-family:"Times New Roman", Arial, Helvetica, sans-serif;
    width:100%;
    border-collapse:collapse;
}

#customersy
{
    overflow: hidden;
    margin-top: 5px;
    border-left: 0px;
    table-layout: fixed;
    word-break: break-all;
    word-wrap: break-word;
    font-family:"Times New Roman", Arial, Helvetica, sans-serif;
    width:100%;
    border-collapse:collapse;
}

#customersy td
{
    background-color: #f1f1f1;
    -o-text-overflow:ellipsis;
    text-overflow:ellipsis;
    margin-top: 30px;
    font-size:20px;
    text-align:left;
    padding:10px 0px 10px 0px;
}

#customers td
{
    border-bottom: 1px solid gray;
    background-color: #f1f1f1;
    -o-text-overflow:ellipsis;
    text-overflow:ellipsis;
    border-top: 1px solid gray;
    margin-top: 30px;
    font-size:20px;
    text-align:left;
    padding:10px 7px 10px 0px;
}

#customers th
{
    -o-text-overflow:ellipsis;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    font-size:20px;
    text-align:left;
    background-color: #f1f1f1;
    color: #000000;
    padding-top: 20px;
    padding-bottom: 20px;
}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    background-color: #add8e6;
    width: 100%;
}

.price
{
    width: 150px;
}
.dish
{
    width: 300px;
}
.number
{
    width: 150px;
}
.others
{
    width: 200px;
}

.button {
    position: absolute;
    left: 660px;
    top:690px;
    display: inline-block;
    border-radius: 4px;
    background-color: #4CAF50;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}
