/*
 * 版权所有(C)，郑翊风，2020，所有权利保留。
 *
 * 项目名： Myjava_1
 * 文件名： contact.css
 * 模块说明：
 * 修改历史:
 * 2020-7-25 - 郑翊风 - 创建。
 */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Times New Roman";
}
.header {
    background-color: white;
    text-align: center;
    padding: 20px;
}
.topnav {
    overflow: hidden;
    background-color: rgba(244, 164, 96, 1);
}
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topnav a:hover {
    background-color: white;
    color: black;
}
.topnav a.active{
    background-color: white;
    color: black;
}

input[type=text].zyf{
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 16px;
}

input[type=text].wjm, select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.footer {
    background-color: rgba(244, 164, 96, 1);
    margin-top: 60px;
    height: 200px;
}

input[type=submit] {
    background-color: rgba(244, 164, 96, 1);
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgba(244, 164, 96, 1);
}

/* Style the container/contact section */
.container {
    border-radius: 5px;
    background-color: white;
    padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
    float: left;
    width: 50%;
    margin-top: 30px;
    padding: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* 响应式布局 */
@media screen and (max-width: 600px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}