* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: #f1f1f1;

}
.header {
    width: 100%;
    height: 50px;
    background-color: #f1f1f1;
    text-align: center;
    padding:0px;
    margin: 0px;
}
.header h1{
    margin: 0px;
}

.topnav {
    border: 1px solid #fafafa;
    overflow: hidden;
    background-color: #333;
    height: 40px;
}

.ap
{
    float: left;
    overflow: hidden;
}
.topnav a {
    float: left;
    margin-right: 100px;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    padding-bottom: 0;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}


/* 创建三个不相等的列 */
.column {
    margin-top: 0px;
    float: left;
    padding: 10px;
}

/* 左右两侧宽度 */
.column.side {
    width: 55%;
}

/* 中间区域宽度 */
.column.middle {
    padding-left: 10px;;
    width: 45%;
}

/* 列后面清除浮动 */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.information
{
    width: 100%;
    margin-top: 5px;
    table-layout: fixed;
    word-break: break-all;
    word-wrap: break-word;
    font-family:"Times New Roman", Arial, Helvetica, sans-serif;
    border-collapse:collapse;
}

.information td
{
    background-color: #f1f1f1;
    -o-text-overflow:ellipsis;
    text-overflow:ellipsis;
    margin-top: 30px;
    font-size:20px;
    padding:10px 0px 51.3px 0px;
}

input[type=text] {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    background-color: #add8e6;
    width: 100%;
}

.footer {
    text-align: center;
    background-color: #f1f1f1;
    padding: 10px;
}