/*
 * 版权所有(C)，郑翊风，2020，所有权利保留。
 *
 * 项目名： Myjava_1
 * 文件名： menu.css
 * 模块说明：
 * 修改历史:
 * 2020-7-24 - 郑翊风 - 创建。
 */

/*
 * 版权所有(C)，郑翊风，2020，所有权利保留。
 *
 * 项目名： Myjava_1
 * 文件名： menu.css
 * 模块说明：
 * 修改历史:
 * 2020-7-24 - 郑翊风 - 创建。
 */

body {
    margin: 0;
    font-family: "Times New Roman";
}
.header {
    background-color: white;
    text-align: center;
    padding: 20px;
}
.topnav {
    overflow: hidden;
    background-color: rgba(244, 164, 96, 1);
}
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topnav a:hover {
    background-color: white;
    color: black;
}
.topnav a.active{
    background-color: white;
    color: black;
}
.topnav input[type=text]{
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 16px;
}
.card_1 {
    background-color: white;
    height: 500px;
    margin-top: 30px;
}
.card_2 {
    background-color: white;
    height: 300px;
    margin-top: 30px;
}
.card_3 {
    background-color: rgba(244, 164, 96, 0.65);
    height: 500px;
}

div.img {
    border: 1px solid #ccc;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    margin-bottom: 25px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

input[type=button].zyf{
    background-color: rgba(244, 164, 96, 1);
    border: none;
    border-radius: 6px;
    width: 80px;
    height: 40px;
    cursor:pointer;
    color: white;
}

table{
    width:50%;
    position:relative;
    margin: 0 auto;
    border-collapse: collapse;
    border:1px solid gray;
}
th{
    background-color: rgba(244, 164, 96, 1);
    height:2.5em;
}
.tdone{
    width:10%;
}
.tdtwo{
    width:20%;
}
.tdthree{
    width:20%;
}
.tdfour{
    width:20%;
}
.tdfive{
    width:20%;
}
.tdsix{
    width:10%;
}
td{
    height:2em;
    text-align: center;
    border:1px solid #ccc;
}
.num{
    display:inline-block;
    width:3em;
}
input{
    height:2em;
}
.talast{
    text-align: left;
}

.footer {
    background-color: rgba(244, 164, 96, 1);
    margin-top: 60px;
    height: 200px;
}

.content{
    /*设置可见部分的高度*/
    height: 650px;
    /*随便设置个颜色区分可滚动区域和其他区域*/
    background-color: white;
    /*设置在竖直方向上可滚动*/
    overflow-y: scroll;
    /*overflow:hidden样式可以不写，因为scroll会自动隐藏超出content高度的部分*/
}